# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore VS Code settings
.vscode/

# Ignore compiled files
*.exe
*.dll

# Ignore temporary files
*.log
*.tmp

# Ignore Jupyter Notebook checkpoints
venv/